.card-container{
    border: 1px solid black;
    border-radius: 14px;
    padding: 10px;
    margin: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-container {
    height: 70%;
}

.button-container {
    height: 30%;
    display: flex;
}